            <nav id="menu">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/geo">Géographie</a></li>
                    <li><a href="/hist">Histoire</a></li>
                    <li><a href="/cult">Culture</a></li>
                    <li><a href="/gal">Galerie</a></li>
                    <li><a href="/form">Contacts</a></li>
                    <li><a href="/link">Liens</a></li>
                </ul>
            </nav>