<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main id="top">
                <h1>Art et culture</h1>
                <p class="entete"><img src="img/640px-Brussels_Cinquantenaire_R03.jpg" alt="Photo du Cinquantenaire à Bruxelles" /></p>
                <ul id="sousmenu">
                    <li><a href="#urba">Urbanisme et architecture à Bruxelles</a></li>
                    <li><a href="#mus">Musées</a></li>
                    <li><a href="#event">Événements culturels et folkloriques</a></li>
                    <li><a href="#divers">Divers lieux culturels</a></li>
                </ul>
                <hr />
                <a id="urba"><h2>Urbanisme et architecture à Bruxelles</h2></a>
                <p>
                Bruxelles est une ville étendue, 172 kilomètres carrés. L'espace disponible par habitant y dépasse la moyenne des autres capitales européennes. Une part importante du bâti, y compris dans les quartiers centraux, est composée d'anciennes maisons de 3 étages, relativement étroites et longues et disposées en îlots fermés selon une configuration fréquente, au dix-neuvième siècle, dans toute les villes belges et dans le nord-ouest de la France. Beaucoup de ces maisons urbaines, ainsi que les anciens hôtels de maître qui n'ont pas été remplacés par des immeubles de bureaux, sont aujourd'hui divisées en appartements. La capitale compte également de nombreux immeubles type art-déco ou moderniste de plus grands gabarits. De nombreuses friches industrielles sont converties en loft, notamment sur l'axe du canal. Dans ce paysage urbain s'élèvent également, outre les monuments classiques de la ville, des tours de bureaux modernes (tour du Midi, tour Madou, tour Dexia, tours Belgacom, tour des Finances, WTC, etc.), concentrées dans les quartiers d'affaires de la ville : Quartier Nord (situé à côté de la Gare du Nord et surnommé le petit Manhattan), quartier européen, avenue Louise. De nombreux parcs jalonnent la ville. La proportion d'espaces verts public est relativement importante bien qu'inégalement répartie. Les jardins privés en intérieur d'îlot sont nombreux.</p>
                <p>
                La ville présente également de nombreuses centralités, dont notamment le bas de la ville, historiquement plus populaire mais en voie de gentrification et le haut de la ville, plus bourgeois. Elle compte de nombreux bâtiments remarquables dans une grande diversité de styles, des constructions médiévales à l'architecture contemporaine.</p>
                <p>
                À partir de la fin du XIXe siècle apparaît un nouveau style architectural, l'art nouveau dont Bruxelles deviendra l'une des capitales grâce aux ouvres d'architectes de renom dont les plus célèbres sont : Victor Horta, Paul Hankar et Henry Van de Velde, également entre autres : Paul Saintenoy Paul Cauchie, Gustave Strauven, Ernest Blerot, Josef Hoffmann (Palais Stoclet), Léon Delune, Paul Hamesse et bien d'autres.</p>
                <p>
                Après la Première Guerre mondiale, les destructions ainsi que la forte croissance démographique due à l'afflux de nouveaux habitants venus des autres régions du pays provoquent une crise du logement et une extension rapide des surfaces construites. C'est le début des constructions de logements sociaux et de cités-jardins en périphérie de l'agglomération d'alors. (voir : Cité-jardin à Bruxelles).</p>
                <p>
                Bruxelles a connu, depuis l'après-guerre jusqu'aux années 1990, un très fort mouvement de périurbanisation qui ressemble, par exception avec les autres villes d'Europe occidentale, au même phénomène dans les villes anglo-américaines. En effet, les classes moyennes et "supérieures" ont eu tendance à quitter les communes du centre pour s'installer dans les communes urbaines dites de la première couronne ou pour aller chercher plus loin, en périphérie, un habitat de standing. Dès lors, le centre a eu tendance à se taudifier en accueillant des émigrés de la première génération tout en devenant la proie de nombreuses spéculations immobilières qui ont conduit à l'apparition d'immeubles de bureaux, dont, notamment, le quartier nord avec ses tours de style international. Mais, depuis les années 1990 et surtout 2000, on constate un net mouvement de retour en ville, de gentrification et de restauration des quartiers centraux.</p>
                <p class="retour_top"><a href="#top">Retour en haut de la page</a></p>
                <a id="mus"><h2>Musées</h2></a>
                <ul>
                    <li>Musée Alice et David Van Buuren</li>
                    <li>Musée Charlier</li>
                    <li>Musée communal des Beaux-Arts d'Ixelles</li>
                    <li>Centre belge de la bande dessinée (CBBD)</li>
                    <li>Musée d'art spontané</li>
                    <li>Musée Magritte</li>
                    <li>Musées du Cinquantenaire
                        <ul>
                            <li>Musée de l'armée
                            <li>Musées royaux d'art et d'histoire
                            <li>Autoworld (musée de l'automobile)
                        </ul>	
                    </li>		  
                    <li>Musée juif de Belgique</li>
                    <li>Musées royaux des Beaux-Arts de Belgique
                        <ul>
                            <li>Musée royal d'art ancien
                            <li>Musée royal d'art moderne
                            <li>Musée Antoine Wiertz
                            <li>Musée Constantin Meunier
                        </ul>
                    </li>    
                    <li>Musée du jouet</li>
                    <li>Musée du cinéma</li>
                    <li>Musée des instruments de musique</li>
                    <li>Musée Victor Horta</li>
                    <li>Musée BELvue</li>
                    <li>Musée bruxellois de la gueuze</li>
                    <li>Musée du transport urbain bruxellois</li>
                    <li>Wiels, centre d'art contemporain</li>
                    <li>Musée des Sciences Naturelles</li>
                </ul>
                <p class="retour_top"><a href="#top">Retour en haut de la page</a></p>
                <a id="event"><h2>Événements culturels et folkloriques</h2></a>
                <ul>
                <li>le Meyboom, la plus ancienne tradition folklorique de Bruxelles célébrant la plantation de l'arbre de mai.</li>
                <li>l'Ommegang, cortège folklorique commémorant la Joyeuse Entrée de Charles Quint à Bruxelles en 1549.</li>
                <li>la Zinneke Parade, cortège déguisé à travers la ville ayant lieu tous les 2 ans depuis l'an 2000.</li>
                <li>Brussels summer festival (anciennement Eu'ritmix), festival de musiques d'horizons variés.</li>
                <li>Le KunstenFESTIVALdesArts, festival d'art contemporain international.</li>
                <li>Festival Couleur Café, festival de musiques du monde et urbaines.</li>
                <li>La Saint-Verhaegen, cortège folklorique étudiant à l'occasion de l'anniversaire de la fondation de l'ULB.</li>
                </ul>
                <p class="retour_top"><a href="#top">Retour en haut de la page</a></p>
                <a id="divers"><h2>Divers lieux culturels</h2></a>
                <ul>
                <li>Théâtre national de Belgique</li>
                <li>Rideau de Bruxelles</li>
                <li>Théâtre royal des Galeries</li>
                <li>Théâtre de Poche</li>
                <li>Théâtre de la Place des Martyrs</li>
                <li>Théâtre Le Public</li>
                <li>Théâtre Les Tanneurs</li>
                <li>Théâtre Océan Nord</li>
                <li>Théâtre 140</li>
                <li>Les Halles de Schaerbeek</li>
                <li>Beursschouwburg</li>
                <li>Éditions Jacques Brel</li>
                </ul>
                <p class="retour_top"><a href="#top">Retour en haut de la page</a></p>
            </main>	
        </div>	
    </body>
</html>