<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main>
                <h1>Capitale multiple et centre diplomatique mondial</h1>
                <p class="entete"><img src="img/640px-Brussels_in_Belgium_and_the_European_Union.svg.png" /></p>
                <h3>Au niveau national</h3>
                <p>
                Bruxelles est le siège du pouvoir exécutif constitué par la monarchie belge et le gouvernement fédéral de la Belgique, du pouvoir législatif constitué par la Chambre des députés et le Sénat, et du pouvoir judiciaire. Elle est aussi la résidence des ambassades et consulats étrangers.</p>
                <p>
                Elle est le siège des gouvernements et parlements de plusieurs des entités fédérées qui composent la Belgique :</p>
                <ul>
                    <li>La Région de Bruxelles-Capitale</li>
                    <li>La Communauté française de Belgique représentant un pouvoir unique pour la Wallonie et Bruxelles, lesquelles restent deux régions distinctes avec leurs autorités politiques propres, mais gèrent ensemble le bien qui leur est commun, la culture française au sens large (enseignement, beaux-arts et Maisons de la Culture, échanges culturels internationaux).</li>
                    <li>La Communauté flamande, qui gère la culture des Flamands de Flandre et de la minorité flamande de Bruxelles, a élu cette dernière comme capitale.</li>
                </ul>
                <h3>Au niveau international</h3>
                <p>
                Bruxelles est souvent qualifiée capitale de facto de l'Union européenne, bien que l'Union ne dispose pas formellement de capitale.</p>
                <p>
                Y siègent en effet de nombreuses institutions européennes, telles que :</p>
                <ul>
                    <li>Le Conseil de l'Union européenne ;</li>
                    <li>La Commission européenne ;</li>
                    <li>Le Parlement européen, pour ses travaux de commissions et ses sessions additionnelles ;</li>
                    <li>Le Comité des régions ;</li>
                    <li>Le Conseil des Communes et régions d'Europe ;</li>
                    <li>Le Comité économique et social.</li>
                </ul>
                <p>C'est également à Bruxelles que se situe le siège d'Eurocontrol et dans la commune d'Evere, qu'est situé celui de l'Organisation du traité de l'Atlantique Nord (OTAN).</p>
                <p>
                Les principales confédérations syndicales internationales y ont leurs sièges : la Confédération européenne des syndicats (CES), la Confédération internationale des syndicats libres (CISL) et la Confédération mondiale du travail (CMT).</p>
                <p>
                Bruxelles est considérée par le Groupe d'études sur la globalisation et les villes mondiales de l'Université de Loughborough (Grande-Bretagne) comme une « ville de classe mondiale majeure pour le négoce », au même titre que Madrid, Milan, Moscou, Toronto, Bombay, Buenos Aires et Kuala Lumpur.</p>
                <p>
                La ville accueille 120 institutions internationales, 159 ambassades (intra muros) et plus de 2 500 diplomates, faisant de Bruxelles le deuxième centre de relations diplomatiques au monde (après New York).</p>
                <p>
                Enfin, Bruxelles compte plus de 1 400 Organisations non gouvernementales.
                </p>
            </main>	
        </div>	
    </body>
</html>