<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main>
                <h1>Erreur 404</h1>
                <p class="entete"><img src="img/404.jpg" /></p>
                <h3 class="entete">Euh, la page demandée est introuvable !</h3>
				<p class="entete">Le mieux est de <a href="/">retourner à l'accueil</a>.</p>
            </main>
        </div>
    </body>
</html>